<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Qn2</display-name>
  <welcome-file-list>
    <welcome-file>signup.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>AuthFilter</display-name>
    <filter-name>AuthFilter</filter-name>
    <filter-class>com.gloria.jdbc.rca.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/AuthFilter</url-pattern>
  </filter-mapping>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/Error.jsp</location>
	</error-page>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>java.student.registration.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>java.student.registration.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NavigationServlet</display-name>
    <servlet-name>NavigationServlet</servlet-name>
    <servlet-class>java.student.registration.NavigationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NavigationServlet</servlet-name>
    <url-pattern>/NavigationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterStudent</display-name>
    <servlet-name>RegisterStudent</servlet-name>
    <servlet-class>java.student.registration.RegisterStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterStudent</servlet-name>
    <url-pattern>/RegisterStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>java.student.registration.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
</web-app>